
body{ background: url(https://lh3.googleusercontent.com/proxy/Rp-0FRqJvglgeAOZb44Lfdg46vgCiihCnAyb6rAjFvGSu4PEbmF2LNUB7NzQpzZu7t0HE1yAzQfTh7gOwLe18k4Mu0_aQnLL9u7LqpEvE3GPgbE8i27K0sW2yzPW10P44hOyM9IimdrNZuw);}
ul { background-color: azure;
list-style: none; /*убираем маркеры списка*/
margin: 0; /*убираем отступы*/
padding-left: 0; /*убираем отступы*/
}
a {
text-decoration: none; /*убираем подчеркивание текста ссылок*/
font: caption
;
}
li {background-color: azure;
float:left; /*Размещаем список горизонтально для реализации меню*/
margin-right:2px; /*Добавляем отступ у пунктов меню*/
}
.name{
    color: rgb(49, 151, 116);
    font-size: 50px;}
.natasha{
    color: crimson;
}
